body {
  margin: 0;
  
}
#root{
  padding: 1em;
  background-color: #fefcf5;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: blue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (max-width: 539.98px) {
  #root{
    font-size: 14px;
  }
}

@media (min-width: 540px) and (max-width: 718.98px) {
  #root{
    font-size: 16px;
  }
}

@media (min-width: 720px) and (max-width: 959.98px) {
  #root{
    font-size: 20px;
  }
}

@media (min-width: 960px) and (max-width: 1139.98px) {
  #root{
    font-size: 22px;
  }
}

@media (min-width: 1140px) {
  #root{
    font-size: 24px;
  }
}

h1.h1 {
  font-size: 3em;
  font-weight: 400;
}

h2.h2 {
  font-size: 1.8em;
  font-weight: 400;
}

h3.h3 {
  font-family: "Andale Mono WT", AndaleMono, monospace;
  font-size: 1.9em;
  font-weight: bolder;
}

/* this is a hack job figure out how to control the css class */
ol.BlueWhaleCaroselIndicator {
  position: relative;
  margin-top: 2em;
}

ol.BlueWhaleCaroselIndicator > li {
  height: .6em;
  width: .6em;
  border-radius: 50%;
  background-color: #d3d3d3;
}

ol.BlueWhaleCaroselIndicator > li.active {
  background-color: blue;
}

a.a {
  color: blue;
}

.App {
  text-align: center;
}
.App-header {
  margin: 0 auto;
}

.App-intro {
  padding: 0 1em;
  line-height: 1.5;
}

.App-logo {
  max-width: 20em;
}

.btn {
  display: block;
  margin: 0 auto;
}

.container-fluid {
  padding:0;
}
