body {
  margin: 0;
  
}
#root{
  padding: 20px;
  background-color: #fefcf5;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: blue;
}

h1.h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.App {
  text-align: center;
}
.App-header {
  margin: 0 auto;
}

.App-intro {
  padding: 0 1rem;
  line-height: 1.5;
}

.App-logo {
  max-width: 20rem;
}

.btn {
  display: block;
  margin: 0 auto;
}

.container-fluid {
  padding:0;
}
